In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
'key2' : ['one', 'two', 'one', 'two', 'one'],
'data1' : np.random.randn(5),
'data2' : np.random.randn(5)})

df

  key1 key2     data1     data2
0    a  one  0.457973  0.180644
1    a  two  1.168320  1.429933
2    b  one -0.551543 -0.165138
3    b  two  0.051535 -0.137069
4    a  one  1.399189 -0.774378

In [5]:
grouped = df['data1'].groupby(df['key1'])
grouped

# This grouped variable is now a GroupBy object. It has not actually computed anything
# yet except for some intermediate data about the group key df['key1']. The idea is
# that this object has all of the information needed to then apply some operation to
# each of the groups. For example, to compute group means we can call the GroupByâ€™s
# mean method

In [7]:
print(f'The mean is {grouped.mean()}')
print(f'The median is {grouped.median()}')

The mean is key1
a    1.008494
b   -0.250004
Name: data1, dtype: float64
The median is key1
a    1.168320
b   -0.250004
Name: data1, dtype: float64

In [10]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one     0.928581
      two     1.168320
b     one    -0.551543
      two     0.051535
Name: data1, dtype: float64

In [11]:
means.unstack()

key2       one       two
key1
a     0.928581  1.168320
b    -0.551543  0.051535