In [1]:
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:,.2f}'.format

df = pd.read_csv(r'salaries_by_college_major.csv')
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business

In [2]:
df.isna().sum()

Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

In [3]:
clean_df = df.dropna()
clean_df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business

In [4]:
# which college major has the highest paying starting salary?
loc = clean_df['Starting Median Salary'].idxmax()
df.loc[loc]

Undergraduate Major                  Physician Assistant
Starting Median Salary                         74,300.00
Mid-Career Median Salary                       91,700.00
Mid-Career 10th Percentile Salary              66,400.00
Mid-Career 90th Percentile Salary             124,000.00
Group                                               STEM
Name: 43, dtype: object

In [5]:
# What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

loc_mid_high = clean_df['Mid-Career Median Salary'].idxmax()
df.loc[loc_mid_high]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                          63,200.00
Mid-Career Median Salary                       107,000.00
Mid-Career 10th Percentile Salary               71,900.00
Mid-Career 90th Percentile Salary              194,000.00
Group                                                STEM
Name: 8, dtype: object

In [6]:
# Which college major has the lowest starting salary and how much do graduates earn after university?

loc_starting_low = df['Starting Median Salary'].idxmin()
df.loc[loc_starting_low]

Undergraduate Major                   Spanish
Starting Median Salary              34,000.00
Mid-Career Median Salary            53,100.00
Mid-Career 10th Percentile Salary   31,000.00
Mid-Career 90th Percentile Salary   96,400.00
Group                                    HASS
Name: 49, dtype: object

In [7]:
# Which college major has the lowest mid-career salary and how much can people expect to earn with this degree? 

loc_mid_low = df['Mid-Career Median Salary'].idxmin()
df.loc[loc_mid_low]

Undergraduate Major                  Education
Starting Median Salary               34,900.00
Mid-Career Median Salary             52,000.00
Mid-Career 10th Percentile Salary    29,300.00
Mid-Career 90th Percentile Salary   102,000.00
Group                                     HASS
Name: 18, dtype: object

In [8]:
# Sorting Values & Adding Columns: Majors with the Most Potential vs Lowest Risk

df[['Mid-Career 10th Percentile Salary', 'Mid-Career 90th Percentile Salary']]
spread = df['Mid-Career 90th Percentile Salary'] - df['Mid-Career 10th Percentile Salary']

In [9]:
df.insert(1, 'Spread', spread)

In [10]:
df.sort_values('Spread', ascending=True).head()
# Nursing has the lowest difference in salary therefore is a low risk profession.

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
40,Nursing,"50,700.00","54,200.00","67,000.00","47,600.00","98,300.00",Business
43,Physician Assistant,"57,600.00","74,300.00","91,700.00","66,400.00","124,000.00",STEM
41,Nutrition,"65,300.00","39,900.00","55,300.00","33,900.00","99,200.00",HASS
49,Spanish,"65,400.00","34,000.00","53,100.00","31,000.00","96,400.00",HASS
27,Health Care Administration,"66,400.00","38,800.00","60,600.00","34,600.00","101,000.00",Business

In [11]:
df.sort_values('Spread', ascending=False).head()
# Economics is the highest difference in salary therefore is a high risk profession.

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,"159,400.00","50,100.00","98,600.00","50,600.00","210,000.00",Business
22,Finance,"147,800.00","47,900.00","88,300.00","47,200.00","195,000.00",Business
37,Math,"137,800.00","45,400.00","92,400.00","45,200.00","183,000.00",STEM
36,Marketing,"132,900.00","40,800.00","79,600.00","42,100.00","175,000.00",Business
42,Philosophy,"132,500.00","39,900.00","81,200.00","35,500.00","168,000.00",HASS

In [12]:
# Pivoting data

clean_df.groupby('Group').mean()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,
Business,"44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"53,862.50","90,812.50","56,025.00","157,625.00"